body{
     background-color: rgb(189,212,222);
     background-color: #BDD4DE;
     font:normal normal bold 12px "arial verdana sans serif";
     text-align: center;
     border: 1px solid black;
     padding: 20px;
     border-radius: 10px;
     -moz-border-radius: 10px;
     -webkit-border-radius: 10px;
     
     
     
     }
     
 h1{
     color:rgb(231,76,60);
     color:#E74C3c;
     color:red;
     font:normal normal bold 36px "Coda Caption sans-serif";
     text-shadow: 1px 1px 3px #666666
    
     
     
     
     
     
   }
   
 h2{
 
    color: rgb(43,58,66);
    color:#2B3A42;
    background-color:hsl(0,0%,100%);
    opacity:0.70;
    font:normal normal bold 24px "georgia times serif"
    text-shadow: 2px 2px 7px #111111
    border: 1px solid black;
   
    text-align: left;
    height:20px
    box-shadow: 0 0 10px black;
   
   
   
   }
   
ul{
    background-color: rgb(239,239,239);
    background-color:#EFEFEF;
    list-style-type: lower-roman;
    box-shadow: 0 0 10px black;
    text-align:left;
    
  }
  
 p.one{
     color: rgb(63,87,101);
     color:#3F5765;
     font: 1.4em;
     width:900px;
     border: 1px solid black;
     margin:10px;
     text-align: left;
     padding:20px;
     
  } 
  
  p.two{
     color: rgb(63,87,101);
     color:#3F5765;
     font: 1.4em;
     width:900px;
     border: 1px solid black;
     margin:10px;
     text-align: left;
     padding:20px;
       }     
  p.three{
     color: rgb(63,87,101);
     color:#3F5765;
     font: 1.4em;
     width:900px;
     border: 1px solid black;
     margin:10px;
     text-align: left;
     padding:20px;
        }
        
  p.four{
        text-align:left;
        }      
  p.five{
     color: rgb(63,87,101);
     color:#3F5765;
     font: 1.4em;
     width:900px;
     border: 1px solid black;
     margin:10px;
     text-align: left;
     padding:20px;
       }        
  p.six{
     color: rgb(63,87,101);
     color:#3F5765;
     font: 1.4em;
     width:900px;
     border: 1px solid black;
     margin:10px;
     text-align: left;
     padding:20px;
       }
 p.seven{
     color: rgb(63,87,101);
     color:#3F5765;
     font: 1.4em;
     width:900px;
     border: 1px solid black;
     margin:10px;
     text-align: left;
     padding:20px;
     }
  p.eight{
     color: rgb(63,87,101);
     color:#3F5765;
     font: 1.4em;
     width:900px;
     border: 1px solid black;
     margin:10px;
     text-align: left;
     padding:20px;
         }   
     
    p.nine{
      color: rgb(63,87,101);
     color:#3F5765;
     font: 1.4em;
     width:900px;
     border: 1px solid black;
     margin:10px;
     text-align: left;
     padding:20px;
          }       
    p.ten{
     color: rgb(63,87,101);
     color:#3F5765;
     font: 1.4em;
     width:900px;
     border: 1px solid black;
     margin:10px;
     text-align: left;
     padding:20px; 
     }
    p.eleven{
     color: rgb(63,87,101);
     color:#3F5765;
     font: 1.4em;
     width:900px;
     border: 1px solid black;
     margin:10px;
     text-align: left;
     padding:20px;
            } 
   
     
                  
     
  
a:link {
     color:red;
     }
     
a:visited{
        color:orange;
        }
a:hover{
      color:yellow
       }
a:active   {
       color:green;
       }     
         